.article-page__container {
  display: flex;
  flex-direction: column;
  flex: 0 0 98%;
}

.article-page__article {
  padding: 1rem 2rem;
  border: 1px solid var(--color-primary);
  background-color: white;
  color: var(--color-grey-dark-1);
  border-radius: 10px;
  box-shadow: 0 1rem 0.9rem rgba(0, 0, 0, 0.089);
}
.article-page__article__details {
  display: flex;
  justify-content: flex-start;
  font-size: 0.8rem;
  font-weight: 400;
}

.article-page__article__author {
  margin-right: 2rem;
}

.article-page__article__title {
  font-size: 1.5rem;
  letter-spacing: 0.2px;
  padding: 0.8rem 0;
}

.article-page__article__body {
  margin-bottom: 0.5rem;
}

.article-page__article__info-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.article-page__article__total-comments {
  margin-right: 2rem;
}

.article-page__button {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 1.6;
  cursor: pointer;
  margin-right: 1.5rem;
}

.article-page__comments {
  display: flex;
  flex-direction: column;
  flex: 0 0 98%;
}

.article-page__dropdowns {
  margin-bottom: 1rem;
  margin-left: 0.3rem;
}
