.article-page__container {
  display: flex;
  flex-direction: column;
  flex: 0 0 90%;
}

.article-page__article {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-grey-dark-1);
  border-radius: 10px;
}
.article-page__article__details {
  display: flex;
  justify-content: flex-start;
  font-size: 0.8rem;
  font-weight: 400;
}

.article-page__article__author {
  margin-right: 2rem;
}

.article-page__article__title {
  font-size: 1.5rem;
  letter-spacing: 0.2px;
  padding: 0.8rem 0;
}

.article-page__article__body {
  margin-bottom: 0.5rem;
}
