.article-page__filters-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1rem;
}

.content {
  padding: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1rem;
}

.article {
  background-color: var(--color-primary);
  color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  flex: 0 0 98%;
  padding: 0.5rem 0.8rem;
  box-shadow: var(--shadow-light);
}

.article > * {
  width: 97%;
}

.article > *:not(:last-child) {
  margin-bottom: 0.7rem;
}

.article:not(:last-child) {
  margin-bottom: 1.5rem;
}

.article__details {
  display: flex;
  justify-content: flex-start;
}

.article__details > *:not(:last-child) {
  margin-right: 2rem;
}

.article__topic {
  font-weight: 700;
}

.article__author,
.article__created {
  font-weight: 200;
}

.article__title {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.2px;
  line-height: 1.4;
}

.article__title:link,
.article__title:visited {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.2px;
  line-height: 1.4;
  text-decoration: none;
}

.article__user-feedback {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.article-page__create-article-link-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.7rem;
  font-size: 1rem;
}

@media only screen and (min-width: 600px) {
  .content,
  .article-page__filters-container {
    padding: 2rem 1rem 1rem 1rem;
    font-size: 1.3rem;
    margin: 0 1.9rem;
  }
  .article {
    padding: 2rem 1rem;
  }
  .article:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  .article-page__create-article-link-container {
    margin-right: 3.9rem;
  }
}

@media only screen and (min-width: 1000px) {
  .article {
    min-width: 80rem;
  }
}
