:root {
  --color-primary: rgb(89, 158, 250);
  --color-primary-light-1: rgb(70, 179, 227);
  --color-primary-light-2: #4ef6fd;
  --color-primary-dark-1: #4661e3;
  --color-primary-dark-2: #5f4efd;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-light: 0 1rem 0.9rem rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary),
    var(--color-primary-dark-1)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-grey-dark-1);
  font-size: 0.9rem;
}

a,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}
